{% extends 'layouts/chinese_base.html' %}

{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/chinese_study.css' %}"></link>

    {% if author_decks or decks %}
        <div id="decks">
            {% for author_deck in author_decks %}
                <div class="deck-container">
                    <h3 id="title">{{ author_deck.title }}</h3>
                    {% if author_deck.image %}
                        <img id="image" src="{{ author_deck.image.url }}" alt="{{ author_deck.title }}">
                    {% else %}
                        <img id="image" src="{% static 'images/default_deck_image.jpg' %}">
                    {% endif %}
                    <p id="description">{{ author_deck.description }}</p>
                    <div id="deck_tags">
                        <h4 id="deck_author">{{ author_deck.author }}</h4>
                        <h4 id="hsk_level">{{ author_deck.hsk_level }}</h4>
                        <h4 id="cards_cuantity">❐ {{ author_deck.cards_cuantity }}</h4>
                    </div>
                    <form class="study_deck" method="GET" action="{% url 'cn-action-study-deck' author_deck.id %}">
                        {% csrf_token %}
                        <button type="submit">Study</button>
                    </form>
                </div>
            {% endfor %}

            {% for deck in decks %}
                <div class="deck-container">
                    <h3 id="title">{{ deck.title }}</h3>
                    {% if deck.image %}
                        <img id="image" src="{{ deck.image.url }}" alt="{{ deck.title }}">
                    {% else %}
                        <img id="image" src="{% static 'images/default_deck_image.jpg' %}">
                    {% endif %}
                    <p id="description">{{ deck.description }}</p>
                    <div id="deck_tags">
                        <h4 id="deck_author">{{ deck.author }}</h4>
                        <h4 id="hsk_level">{{ deck.hsk_level }}</h4>
                        <h4 id="cards_cuantity">❐ {{ deck.cards_cuantity }} cards</h4>
                    </div>
                    <form class="study_deck" method="GET" action="{% url 'cn-action-study-deck' deck.id %}">
                        {% csrf_token %}
                        <button type="submit">Study</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h5 id="no_decks_available">No available decks for study.</h5>
    {% endif %}
{% endblock %}