{% extends 'layouts/chinese_base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chinese_home.css' %}">

    <h3 id="h3">Welcome to Chinese cards</h3>
    <p id="p">You might be thinking of the song "Paula" by Zoé. It's a beautiful love song with a dreamy, heartfelt vibe, but it's not one of the most common hits like "Soñé" or "Labios Rotos." The song talks about love in a poetic and emotional way, which fits your description. Would you like to check it out?</p>
{% endblock %}