{% extends 'layouts/chinese_base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chinese_create.css' %}">

    <div class="create-options-container">
        <div>
            <h3>Card</h3>
            <p>Add new cards to your decks, chose along your created decks, study them or increase the cards your deck haves.</p>
            <a href="{% url 'chinese-create-card' %}">✚</a>
        </div>
        <div>
            <h3>Deck</h3>
            <p>Add a deck to categorize your cards by type, difficulty, etc and share it with the community or study only.</p>
            <a href="{% url 'chinese-create-deck' %}">✚</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Initially hide the options
            $('.create-option').hide();

            // Show the options with animation on page load
            $('.create-deck-card-option h2').text('Choose an option:');  // Display a message
            $('.create-option').each(function(index) {
                $(this).delay(500 * index).fadeIn(1000);  // Fade in each option with a delay
            });
        });
    </script>
{% endblock %}