{% extends 'layouts/chinese_base.html' %}

{% block content %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/chinese_study_deck.css' %}"></link>

    <div id="deck-container">
        <div id="card-container">
            <div class="card-front">
                <h2 class="hanzi">Loading...</h2>
                <h3 class="pinyin">Loading...</h3>
            </div>
            <div class="card-back" style="display:none;">
                <h2 class="hanzi">Loading...</h2>
                <h3 class="pinyin">Loading...</h3>
                <h2 id="meaning"></h2>
                <p id="example_phrase"></p>
                <button id="next-card">Next Card</button>
            </div>
        </div>
        <h4 id="card_index"></h4>
    </div>

    <div id="finished_deck_container">
        <h3>Finished</h3>
        <h4 id="finished_deck_message"></h4>
        <div class="finished_deck_options">
            <a id="continue" href="{% url 'chinese-study' %}">Continue</a>
            <a id="again" href="{% url 'cn-action-study-deck' deck.id %}">↻</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        let currentIndex = 0;
        let deck_cards = JSON.parse('{{ deck_cards_json|escapejs }}');  // Retrieve the JSON data from Django context

        // Random messages to be showed when the user finishes a deck study
        const messagesList = ['Excelent work! Keep practicing to master Language', 'The consistency is the key to the success :)', 'You´re doing amazing, do not give up!', 'Do this every day to archieve your goals', 'The practice makes the mastery'];
        const randomIndex = Math.floor(Math.random() * messagesList.length);
        const randomMessage = messagesList[randomIndex];

        $(document).ready(function() {
            loadCard(currentIndex);

            $('#next-card').hide();

            $('.card-front').on('click', function() {
                $('.card-front').hide();
                $('.card-back').show();
                $('#next-card').show();
            });

            $('#next-card').on('click', function() {
                $('#next-card').hide();
                currentIndex++;
                if (currentIndex < deck_cards.length) {
                    loadCard(currentIndex);
                } else {
                    document.getElementById("deck-container").style.display = "none";
                    document.getElementById("finished_deck_container").style.display = "block";
                    $("#finished_deck_message").text(randomMessage).show();

                    /* setTimeout(function() {
                        window.location.href = "{% url 'chinese-study' %}";
                    }, 4000); */
                }
            });

            function loadCard(index) {
                $('.hanzi').text(deck_cards[index].hanzi);
                $('.pinyin').text(deck_cards[index].pinyin);
                $('#meaning').text(deck_cards[index].meaning);
                $('#example_phrase').text(deck_cards[index].example_phrase);

                // Index of card that is being studied
                $('#card_index').text(`${index + 1} of ${deck_cards.length}`);
                
                $('#hanzi').text(deck_cards[index].hanzi);

                // Reset the card view to show front and hide back
                $('.card-front').show();
                $('.card-back').hide();
            }
        });
    </script>
{% endblock %}
