{% extends 'layouts/chinese_base.html' %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chinese_create_card.css' %}">

    <form method="POST">
        {% csrf_token %}
        <h2>Card creation</h2>

        {{ form.hanzi.label }}
        {{ form.hanzi }}
        
        {{ form.pinyin.label }}
        {{ form.pinyin }}
        
        {{ form.meaning.label }}
        {{ form.meaning }}

        {{ form.example_phrase.label }}
        {{ form.example_phrase}}
        
        {{ form.deck.label }}
        {{ form.deck }}
        <button type="submit">Submit</button>
    </form>

{% endblock %}