{% load static %}

<link rel="stylesheet" href="{% static "css/_deck_list.css" %}">

{% if decks %}
    {% for deck in decks %}
        <div class="deck">
            <h3>{{ deck.title }}</h3>
            {% if deck.image %}
                <img src="{{ deck.image.url }}" alt="{{ deck.title }}">
            {% else %}
                <img src="{% static 'images/default_deck_image.jpg' %}" alt="Default image">
            {% endif %}
            <p>{{ deck.description }}</p>
            <h4>
                <b id="author">{{ deck.author }}</b> | 
                <b id="downloads">⏏ {{ deck.downloads }}</b> | 
                <b id="hsk_level">{{ deck.hsk_level }}</b> | 
                <b id="starts_rating">☆ 5</b> | 
                <b id="cards_cuantity">❐ {{ deck.cards_cuantity }} cards</b>
            </h4>
            <form method="GET" action="{% url 'cn-action-get-deck' deck.id %}">
                {% csrf_token %}
                <button type="submit">Add</button>
            </form>
        </div>
    {% endfor %}
{% else %}
    <h5 id="no_decks_available" style="
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 2.0rem;
    color: #111111;">No available decks to be displayed.</h5>
{% endif %}