body{
    background: linear-gradient(#ffffff, #a9b9c7);
    color: white;
}

h3{
    text-align: center;
}

h2{
    color: white;
}

.chinese_base_top_bar{
    position: fixed;
    top: 1;
    width: 100%;
    background-color: rgb(36, 25, 97);
    color: white;
}

.logo-container{
    width: 15%;
    display: inline-flex;
}

.logo-container img{
    width: 45px;
    height: 40px;
    margin-left: 20px;
}
.logo-container h2 {
    align-content: center;
    margin: 0;
    font-size: 32px; 
    width: 20%;
}

.chinese_base_top_bar #language_container{
    display: inline-flex;
    width: 30%;
    margin-left: 15%;
}
.chinese_base_top_bar #language_container h2{
    width: 50%;
}
.chinese_base_top_bar #language_container a{
    border-bottom-left-radius: 10px;
    width: 50%;
    align-content: center;
}
.chinese_base_top_bar img{
    height: 50px;
    width: 50%;
    margin-left: 40%;
    border-radius: 10px;
}


/*Profile*/
.profile_container{
    width: 30%;
    margin-left: 5%;
    display: inline-flex;
}
.profile_container img{
    height: 50px;
    width: 50px;
    border-radius: 10%;
    border: 1px solid white;
    object-fit: cover;
}
.profile_container h3{
    font-size: 1.2rem;
    padding-inline: 10px;
}






/*Changeable content block*/
#chinese_content{
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    padding-block: 20px;
    padding-inline: 20px;
    height: 500px;
    width: 85%;
    margin-top: 80px;
    margin-left: 10%;
    border-radius: 10px;
    margin-bottom: 150px;
}







/*Bottom Options Bar*/
.bottom-options-bar{
    position: fixed;
    top: 14%;
    height: 80%;
    margin-bottom: 0;
    width: 10%;
    border-radius: 10px;
    z-index: 1000;   
    display: block-flex;
    background-color: rgb(36, 25, 97);
}
.bottom-options-bar a li{
    width: 90%;
    margin-left: 5%;
    list-style: none;
    border-radius: 10px;
    padding: 5px 5px;
    cursor: pointer;
}
.bottom-options-bar a{
    text-decoration: none;
    color: rgb(253, 253, 253);
}
.bottom-options-bar h4{
    text-align: center;
}
.bottom-options-bar li:hover{
    color: rgb(199, 199, 199);
    transform: scale(1.02);
    box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
}
