#deck-container{
    background-color: #111111;
    box-shadow: 2px 2px 2px 3px white;
    width: 40%;
    margin-left: 30%;
    border-radius: 10px;
    padding-block: 5px;
    padding-top: 30px;
    padding-inline: 20px;
}

/* Styling for the deck container */
#deck-container div{
    background-color: #111111; 
    border-radius: 10px; 
    width: 100%;
    text-align: center; 
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    min-height: 380px;
}

/* Card front and back */
.card-front, .card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

/* Hanzi (Chinese character) styling */
.hanzi {
    font-size: 2.4rem;
    font-weight: bold;
    color: #87d4f3; 
    margin-bottom: 0;
}

/* Pinyin (Romanization) styling */
.pinyin {
    margin-top: 0;
    font-size: 1.2rem;
    color: #5f5f5f; 
}

/* Meaning and example phrase styling */
#meaning {
    font-size: 1.4rem;
    color: #ffffff;
}

#example_phrase {
    border-top: 1px solid white;
    font-size: 18px;
    color: #5e5e5e; 
    margin-top: 15px;
    padding-top: 20px;
    padding-inline: 35px;
}

/* Buttons */
button {
    background-color: #4a3aca; 
    color: #ffffff;
    border: none;
    padding: 15px 50px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 5px;
}

/* Hover effect for buttons */
button:hover {
    background-color: #3335a7; 
    color: white;
}



/*Finished Deck Message*/
#finished_deck_container {
    display: none;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 60px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#finished_deck_container h3 {
    font-size: 2.8rem;
    color: #111111;
}
#finished_deck_container h4{
    font-size: 2.2rem;
    color: #3b3b3b;
}
#finished_deck_message{
    display: none;
}
#continue{
    color: white;
    background-color: royalblue;
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.6rem;
    margin-inline: 10px;
}
#again{
    color: white;
    background-color: green;
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.6rem;
    margin-inline: 10px;
}
#card_index{
    width: 100%;
    text-align: center;
    padding-inline: 5px;
    padding-block: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem;
    color: #3b3b3b;
    border-top: 1px solid #bfe1f8;
}

/* Layout for smaller screens */
@media (max-width: 768px) {
    #card-container {
        width: 95%; /* Make the card container fit smaller screens */
    }
}
