h3{
    text-align: center;
}

.decks-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* Deck Container */
.deck {
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 3px rgb(66, 64, 64);
    background-color: #ffffff;
    width: 45%;
    margin-inline: 2.5%;
    margin-bottom: 40px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Deck Hover Effect */
.deck:hover {
    transform: translateY(-10px);
}

.deck h3 {
    width: 100%;
    font-size: 1.8em;
    color: rgb(43, 44, 44);
    margin-top: 0;
    margin-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-block: 5px;
    text-align: center;
    align-content: center;
}

.deck h4{
    color: rgb(43, 44, 44);
}

/* Deck Image */
.deck img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    height: 180px;
    margin-bottom: 0;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px rgb(93, 93, 94);
}

/* Deck Description */
.deck p {
    font-size: 0.9em;
    color: #404650;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 0;
    padding-block: 10px;
    padding-inline: 20px;
    border-bottom: 1px solid rgb(43, 44, 44);
}

#author{
    color: rgb(30, 94, 179);
}
#downloads{
    color: rgb(137, 74, 173);
}
#hsk_level{
    color:rgb(224, 96, 45);
}
#starts_rating{
    color: rgb(230, 208, 14);
}
#cards_cuantity{
    color: rgb(20, 182, 68);
}

.deck button{
    margin-bottom: 10px;
    width: 80%;
    margin-left: 5%;
    text-align: center;
    align-content: center;
    background-color: #456eb9;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
}
.deck button:hover{
    transform: scale(1.05);
    transition-duration: 1.2s;
}




/* Search form style*/
#filter-form{
    border-radius: 10px;
    margin-left: 10%;
    width: 80%;
    align-content: center;
    background-color: white;
    color: #111111;
    padding-block: 10px;
    display: inline-flex;
    font-size: 1.4rem;
}

#filter-by-container{
    margin-left: 10%;
    width: 30%;
    text-align: center;
    background-color: #456eb9;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

#options-select-container{
    text-align: center;
    margin-left: 10px;
    width: 40%;
    background-color: #456eb9;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 5px;
}
#options-select{
    width: 50%;
}

#search-button{
    width: 10%;
    margin-left: 10px;
    background-color: #456eb9;
    color: white;
    font-size: 1.4rem;
    border-radius: 10px;
    border: 1px solid white;
}
#search-button:hover{
    cursor: pointer;
    background-color: #455eb9;
}

select{
    font-size: 1.2rem;
    border-radius: 10px;
    color: #383a3d;
}