/* Hero Section */

.hero-section {
    background: linear-gradient(to right, #312363, #050036);
    color: white;
    padding-top: 180px;
    padding-bottom: 220px;
    text-align: center;
    position: relative;
}

.hero-section p{
    color: white;
    padding-inline: 30%;
    font-size: 1.8rem;
    font-family: sans-serif;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.highlight-text {
    color: #0099ff;
    animation: colorChange 2s infinite alternate;
}

@keyframes colorChange {
    from {
        color: #73bbf5;
    }
    to {
        color: #cdf9ff;
    }
}

.explore-btn {
    font-family: sans-serif;
    background-color: #FF7F50;
    color: white;
    padding: 15px 30px;
    font-size: 2.2rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.hero-container {
    position: relative; 
    background: linear-gradient(#ffffff, #a9b9c7);
    color: rgb(36, 25, 97);
    text-align: center;
    padding: 300px 20px;
    overflow: hidden; 
}

.hero-container div{
    margin-left: 30%;
    width: 50%;
    padding-inline: 50px;
    align-content: center;
    align-items: center;
    font-family: sans-serif;
}

.hero-container div h3 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    margin-left: 50px;
}

.hero-container div p {
    font-size: 1.5rem;
    margin-left: 50px;
    text-align: left;
}


/* Background images in the hero section */
.hero-bg-image {
    margin-top: 100px;
    position: absolute;
    width: 450px;
    height: auto;
    z-index: 1; 
    pointer-events: none; /* Images won't interfere with text interaction */
}

.image1 {
    top: 30px;
    left: 5px;
}




/* Features Section */
.features-container {
    text-align: center;
    padding: 300px 20px;
    background: linear-gradient(#333877, #050036);
}

.features-container h3 {
    font-size: 36px;
    color: #dbdbdb;
    margin-bottom: 20px;
}

.features-container ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
}

.features-container ul li {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #202020;
    background: linear-gradient(#ffffff, #756f99);
    border: 1px solid black;
    border-radius: 10px;
    width: 20%;
    padding-inline: 15px;
    box-shadow: 4px 4px 2px rgb(63, 6, 168);
}
.features-container ul li:hover{
    transform: scale(1.04);
    transition-duration: 0.8s;
    background:  linear-gradient(#ffffff, #98a4ad);
    cursor: crosshair;
    box-shadow: 4px 4px 2px rgb(94, 165, 223);
}
.features-container ul li h4{
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(94, 165, 223);
    margin-top: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 10px 7px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 8px;
    font-size: 28px;
    font-family: sans-serif;
}




/* Gallery Section */
.gallery-container {
    color: rgb(36, 25, 97);
    background: linear-gradient(#ffffff, #a9b9c7);
    padding: 300px 20px;
    text-align: center;
}

.gallery-container div h4{
    font-size: 36px;
    font-family: sans-serif;
}

.gallery-container div p{
    font-size: 1.8rem;
    font-family: sans-serif;
    width: 80%;
    text-align: left;margin-left: 10%;

}


.images-gallery-menu {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    background: linear-gradient();
}

.images-gallery-menu li {
    margin: 0 10px;
}

.images-gallery-selection{
    width: 260px;
    height: 260px;
    opacity: 0.4;
    border-radius: 10px;
    border: 2px solid rgb(36, 25, 97);
}
.images-gallery-selection:hover{
    opacity: 1;
    transform: scale(1.10);
    transition-duration: 0.5s;
    cursor: crosshair;
    box-shadow: 2px 2px 3px 3px rgb(36, 25, 97);
    border: 2px solid rgb(36, 25, 97);
}

#screenshot-description{
    margin-top: 50px;
    height: 30px;
    font-size: 1.8rem;
    font-family: sans-serif;
    color: rgb(36, 25, 97);
    border-radius: 5px;
    width: 90%;
    margin-left: 5px;
    text-align: center;
    padding-inline: 20px;
    padding-block: 5px;
    border-bottom: 15px solid rgb(36, 25, 97);
    border-radius: 25px;
}



/*Tips Section*/ 
.tips-container{
    padding-block: 40px;
    background: linear-gradient(#d9dbf8, #ffffff);
}
.tips-container h4{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
}
.tips-container p{
    padding-inline: 50px;
    font-size: 22px;
    color: rgb(35, 37, 49);
}
.tips-container ul{
    width: 90%;
    padding-block: 40px;
    padding-inline: 40px;
    background-color: rgb(171, 186, 238);
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border: 5px solid black;
}
.tips-container ul li{
    font-size: 24px;
    font-family: sans-serif;
    color: black;
    text-align: left;
    margin-top: 10px;
    border-bottom: 1px solid rgb(240, 240, 240);
    list-style: none;
}